<form>
  <app-wizard
    [initStep]="initStep"
    (finish)="onFinish()">

    <app-wizard-step [name]="'Osobní údaje'">
      <div class="row">
        <label class="col-sm-6">Jméno:<br />
          <input type="text" name="jmeno" class="form-control" />
        </label>
        <label class="col-sm-6">Příjmení:<br />
          <input type="text" name="prijmeni" class="form-control" />
        </label>
      </div>
      <div class="row">
        <label class="col-sm-6">Email:<br />
          <input type="text" name="email" class="form-control" />
        </label>
        <label class="col-sm-6">Mobil:<br />
          <input type="text" name="mobil" class="form-control" />
        </label>
      </div>
      <p>
        Abychom vám mohli později zavolat a dohodnout další postup, odesláním tohoto formuláře vyjadřujete <a>Souhlas se zpracováním osobních údajů</a>.
      </p>
    </app-wizard-step>

    <app-wizard-step [name]="'Identifikace'">
      <div class="row">
        <label>Rodné číslo:<br />
          <input type="text" name="rc" class="form-control" />
        </label>
        <label>Státní občanství:<br />
          <select name="obcanstvi" class="form-control">
            <option>Česká Republika</option>
            <option>Slovensko</option>
            <option>Polsko</option>
            <option>Německo</option>
            <option>Rakousko</option>
          </select>
        </label>
      </div>

      <div class="row">
        <label>Místo narození:<br />
          <input type="text" name="misto_narozeni" class="form-control" />
        </label>
        <label>Stát místa narození:<br />
          <select name="obcanstvi" class="form-control">
            <option><i>stejný jako Státní občanství</i></option>
            <option>Česká Republika</option>
            <option>Slovensko</option>
            <option>Polsko</option>
            <option>Německo</option>
            <option>Rakousko</option>
          </select>
        </label>
      </div>
      <h4>Daňová rezidence</h4><br>
      <div class="row">
        <label>Země daňové rezidence:<br /><br />
          <select name="obcanstvi" class="form-control">
            <option><i>stejný jako Státní občanství</i></option>
            <option>Česká Republika</option>
            <option>Slovensko</option>
            <option>Polsko</option>
            <option>Německo</option>
            <option>Rakousko</option>
          </select>
        </label>
        <label>DIČ:<br/>
          <i>V zemi daň. rezidence</i><br />
          <input type="text" name="rc" class="form-control" />
        </label>
      </div>
    </app-wizard-step>

    <app-wizard-step [name]="'Adresa'">
      <div class="row">
        <label>Ulice a číslo popisné:<br />
          <input type="text" name="ulice" class="form-control" />
        </label>
      </div>
      <div class="row">
        <label>Město:<br />
          <input type="text" name="mesto" class="form-control" />
        </label>
        <label>PSČ:<br />
          <input type="text" name="psc" class="form-control" />
        </label>
        <label>Země:<br />
          <select name="obcanstvi" class="form-control">
            <option><i>stejný jako Státní občanství</i></option>
            <option>Česká Republika</option>
            <option>Slovensko</option>
            <option>Polsko</option>
            <option>Německo</option>
            <option>Rakousko</option>
          </select>
        </label>
      </div>
      <div class="row">
        <label>Kontaktní adresa je jiná:<br />
          <input type="checkbox" class="form-control" />
        </label>
      </div>
    </app-wizard-step>

    <app-wizard-step [name]="'Občanský průkaz'">
      <div class="row">
        <label>Číslo Občanského průkazu:<br />
          <input type="text" name="op_cislo" class="form-control" />
        </label>
        <label>Datum vydání:<br />
          <input type="text" name="op_datum_vydani" class="form-control" />
        </label>
        <label>Platnost do:<br />
          <input type="text" name="op_platnost_do" class="form-control" />
        </label>
      </div>
      <div class="row">
        <label>Vydal úřad:<br />
          <input type="text" name="op_vydal" class="form-control" />
        </label>
        <label>Stát vystavení:<br />
          <select name="obcanstvi" class="form-control">
            <option><i>stejný jako Státní občanství</i></option>
            <option>Česká Republika</option>
            <option>Slovensko</option>
            <option>Polsko</option>
            <option>Německo</option>
            <option>Rakousko</option>
          </select>
        </label>
      </div>
      <h4>Jiný doklad totožnosti </h4>
      <i>Pro kurýra si kromě Občanského průkazu připravte ještě jeden doklad</i><br />
      <div class="row">
        <label> <input type="radio" name="op_jiny_doklad" value="pas" class="form-control" /> Pas </label>
        <label> <input type="radio" name="op_jiny_doklad" value="ridicsky_prukaz" class="form-control" /> Řidičský průkaz </label>
        <label> <input type="radio" name="op_jiny_doklad" value="rodny_list" class="form-control" /> Rodný list </label>
      </div>
    </app-wizard-step>

    <app-wizard-step [name]="'Zaměstnání'">
      <div class="row">
        <label>Čistý měsíční příjem:<br />
          <input type="text" name="cisty_prijem" class="form-control" />
        </label>
      </div>
      <div class="row">
        <label>Zdroj příjmů:<br />
          <input type="text" name="zdroj_prijmu" class="form-control" />
        </label>
        <label>Kategorie zaměstnání:<br />
          <input type="text" name="kategorie_zamestnani" class="form-control" />
        </label>
      </div>
      <div class="row">
        <label>Profese:<br />
          <input type="text" name="profese" class="form-control" />
        </label>
      </div>
      <div class="row">
        <label>Pracovní zařazení:<br />
          <input type="text" name="pracovni_zarazeni" class="form-control" />
        </label>
      </div>
    </app-wizard-step>

    <app-wizard-step [name]="'Doplňující informace'">
      <h4>Adresa pro setkání s kurýrem: </h4>
      <div class="row">
        <label> <input type="radio" name="kuryr_na_adresu" value="trvala" class="form-control" /> Trvalá adresa </label>
        <label> <input type="radio" name="kuryr_na_adresu" value="kontaktni" class="form-control" /> Kontaktní adresa </label>
        <label> <input type="radio" name="kuryr_na_adresu" value="jina" class="form-control" /> Jiná... </label>
      </div>
      <h4>Převedení stávajícího účtu: </h4>
      <div class="row">
        <label>
          <input type="checkbox" name="prevest_ucet" class="form-control" /> Přeji si převést trvalé příkazy a inkasa na můj nový účet u Komerční banky
        </label>
      </div>
      <div class="row">
        <label>
          <input type="checkbox" name="pravedlivost" class="form-control" /> Prohlašuji, že jsem všechny údaje uvedl(a) pravdivě.
        </label>
      </div>

    </app-wizard-step>

  </app-wizard>
</form>
