<div class="ng2-f-wizard">
  <div class="navbar navbar-static-top navbar-light bg-faded">
    <span class="navbar-brand" href="#"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> KB Online</span>
    <button type="button"
            class="btn close float-xs-right"
            (click)="closeWizard()">
      <i class="fa fa-close"></i>
    </button>
  </div>

  <div class="container-fluid">

    <div class="row">

      <!-- left sidebar -->
      <div class="col-sm-12 col-md-3">

        <!-- step list -->
        <ul class="ng2-f-wizard-step-list row">
          <li *ngFor="let step of steps; let i = index"
               class="ng2-f-wizard-step-list-item col-xs-12 col-sm-6 col-md-12"
              [class.ng2-f-wizard-active]="isActive(i)"
              [class.ng2-f-wizard-clickable]="isClickable(i)"
              (click)="isClickable(i) && setStep(i)">
            <span class="ng2-f-wizard-circle">{{i + 1}}</span> &nbsp; {{step.name}}
            <i *ngIf="isClickable(i)" class="fa fa-check fa-lg fa-green"></i>
          </li>
        </ul>

      </div><!-- /left sidebar -->

      <!-- content -->
      <div class="container col-sm-12 col-md-9">

        <!-- content -->
        <ng-content></ng-content>

        <!-- footer -->
        <div class="row ng2-f-wizard-footer">
          <button [style.visibility]="isFirstStep ? 'hidden' : 'visible'"
                  type="button"
                  class="btn btn-secondary"
                  (click)="previousStep()">
            Předchozí
          </button>
          {{index + 1}} / {{steps.length}}
          <button *ngIf="!isFinalStep"
                  type="button"
                  class="btn btn-secondary"
                  (click)="nextStep()">
            Další
          </button>
          <button *ngIf="isFinalStep"
                  type="button"
                  class="btn btn-secondary"
                  (click)="finishWizard()">
            Odeslat
          </button>
        </div><!-- /footer -->

      </div><!-- /content -->

    </div><!-- /row -->

  </div><!-- /container -->

</div><!-- /.ng2-f-wizard -->
